<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>遍历成绩及格的学生</title>
</head>
<body>
<div id="app">
    <h1 align="center">及格的学生</h1>
    <table border="1px" width="400px" align="center">
        <tr v-if="student.score >= 60" v-for="(student) in students">
            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.age}}</td>
            <td>{{student.score}}</td>
        </tr>
    </table>
</div>


<script src="vue.js"></script>
<script>
    let vm = new Vue({
        el: "#app",//创建的vue实例挂载到id=app的div
        data: {//data{}  表示数据池 以k-v形式
            students:[
                {id:1,name:'jack',age:20,score:65},
                {id:2,name:'marry',age:21,score:53},
                {id:3,name:'alan',age:19,score:85}
            ]

        }
    })
    console.log(vm);
</script>
</body>
</html>